<template>
    <div>
        <input @input="onInput"/>
    </div>
</template>

<script>
export default {
    name: 'SearchBar',
    methods: {
        onInput: function(event) {
            this.$emit('termChange', event.target.value); // $emit communicates to the parent component and passes the parameter
        }
    }   
};

</script>


<style scoped>
/* scoped tag makes sure it will only style this component */

input {
    width: 75%;
}

div {
    text-align: center;
    margin: 20px;
}

</style>
