<template>
    <li class="list-group-item media" @click="onVideoSelect">
        <!-- use v-bind for a html attribute (src of img) with connection to our url -->
        <img class="mr-3" :src="thumbnailUrl" />
        <div class="media-body">
        {{ video.snippet.title }}
        </div>
    </li>
</template>

<script>
export default {
    name: 'VideoListItem',
    props: ['video'],
    // computed can also be used to clean-up or shorten on a prop paramater
    computed: {
        thumbnailUrl() {
            return this.video.snippet.thumbnails.default.url
        }
    },
    methods: {
        onVideoSelect() {
            this.$emit('videoSelect', this.video)
            // emits the event and passes on the object
        }
    }
};
</script>


<style scoped>
li {
    display: flex;
    cursor: pointer;
}

li:hover {
    background-color: #eee;
}
</style>
