<template>
    <ul class="list-group col-md-4">
      <VideoListItem
        v-for="video in videos"
        :video="video"
        :key="video.etag"   
        @videoSelect="onVideoSelect"    > 
         <!-- the key is like an id of each object, which in this youtube case is the etag -->
         <!-- the videoSelect is an event handler. It receives the event 'videoSelect' from the VideoListItem component. It then triggers another function -->
         
      </VideoListItem>
    </ul>
</template>

<script>
import VideoListItem from './VideoListItem';

export default {
    name: 'VideoList',
    components: {
        VideoListItem
    },
    props: ['videos'],
    methods: {
        onVideoSelect(video) {
            this.$emit('videoSelect', video);
            // the video is received as a parameter from the previous emit ("this.video")
        }
    }
};
</script>

<style>

</style>
