<template>
  <div class="container">
    <!-- makes sure it listens to the events from the searchBar -->
    <SearchBar @termChange="onTermChange"></SearchBar> 
    <div class="row">
      <VideoDetail :video="selectedVideo"/>
      <!-- the v-bind (or :) gives the component access to the values inside the data -->
      <VideoList @videoSelect="onVideoSelect" :videos="videos"></VideoList> 
    </div>
  </div>
</template>


<script>
import axios from 'axios';
import SearchBar from './components/SearchBar.vue';
import VideoList from './components/VideoList.vue';
import VideoDetail from './components/VideoDetail.vue';
const API_KEY = 'AIzaSyBQK_b7uDmE3nzZuq9URC-CXIp9Jdrs6bs';

export default {
  name: 'App',
  data() {
    return {  videos: [], selectedVideo: null };
  },
  components: {
    SearchBar,
    VideoList,
    VideoDetail
  },
  methods: {
    onVideoSelect(video) {
      this.selectedVideo = video;

    },
    // searchTerm is a placeholder for the event.target.value that is passed from the event in the searchBar
    onTermChange(searchTerm) {
      axios
      .get('https://www.googleapis.com/youtube/v3/search', {
      params: {
        key: API_KEY,
        type: 'video',
        part: 'snippet',
        q: searchTerm
      }
      }).then(response => {
        this.videos = response.data.items
      });
    }
  }
}
</script>
